/*
IMPORTANT BREAK POINTS

NAV BAR
    1020 -- "Search Stations" pushes to two lines
    750 -- Margin right, form, depletes
    700 -- no longer fills entire width

*/


/*General layout*/
body{
    margin: 0;
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


/*Navbar*/
nav{
    height: 10vh;
    background: #0078AE;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img{
    height: 66%;
    margin-left: 15%;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50vw;
    margin-right: 5%
}
form p{
    color: #FFF;
}
select{
    margin: 0 1%;
    text-align: center;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
option:hover{
    font-weight: 700;
    background-color: #91BFDC
}

select[name='station']{
    flex: 2 1 15%
}
input[type="submit"]{
    color: #0078ae;
    background: #fff;
    border: none;
    margin-left: 1%;
    transition: color 0.5s, background 0.5s, border-color 0.5s;
    transition-timing-function: linear;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
select, input[type="submit"]:hover{
    cursor: pointer;
}
select, input[type="submit"]{
    /*cool fancy trick I learned from Twitter on how to make fonts more responsive*/
    font-size: calc(12px + 0.3vw);
    padding: 5px 2%;
}


/*Map*/
main{
    height: 90vh;
}

/*Transitions*/
input[type="submit"]:hover{
    color: #fff;
    background-color: #57A773;
}


/* @TODO: Media Queries*/
