/*General layout*/
body{
    margin: 0;
    overflow-x: hidden;
    font-family: pt-serif,"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif
}


/*Navbar*/
nav{
    height: 15vh;
    background: #2a2d34;
}
nav img{
    height: 100%;
    margin-left: 1%;
    float: left;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
form p{
    color: #fdfffc;
}
select{
    margin: 0 1%;
    text-align: center;
    color: #333;
}
input[type="submit"]{
    color: #fdfffc;
    background: #2a2d34;
    border-color: #bfc0c0;
    margin-left: 1%;
    border-radius: 2px;
    transition: color 0.5s, background 0.5s, border-color 0.5s;
    transition-timing-function: linear;
}
select, input[type="submit"]:hover{
    cursor: pointer;
}
select, input[type="submit"]{
    /*cool fancy trick I learned from Twitter on how to make fonts more responsive*/
    font-size: calc(12px + 0.3vw);
    padding: 5px 2%;
}

.station-input{
    width: 10%;
    text-align: left;
}


/*Map*/
main{
    height: 85vh;
}
    /* Legend */
    .legend__container{
        width: 20vw;
        position: absolute;
        max-height: 50vh;
        z-index: 2;
    }

    .legend__toggle{
        position: absolute;
        background: #91BCDF;
        text-align: center;
        font-weight: 700;
        color: #0078AE;
        width: 100%;
        z-index: 2;
        height: 2.5em;
    }

    .legend__body{
        display: block; 
        position: absolute;
        width: 100%;
        height: 40vh;
        background: white;
        opacity: 0.85;
        z-index: 1;
        padding-top: 3em;
        text-align: center;
    }

    .legend__number-summary{
        display: flex;
        justify-content: space-around;
        text-align: center;
    }

    .legend__number-summary>div>*{
        padding: 5px;
        margin: 0;
    }
    .legend__summary-emphasis{
        font-weight: 700;
        color: #3a3a3a;
        font-size: 2em;
    }
    .legend__station-emphasis{
        font-weight: 700;
        color: #3a3a3a;
    }
    .legend__summary-text{
        color: #6f6f6f;
    }
    .legend__station-summary{
        display: flex;
        flex-flow: column;
    }
    .legend__station-summary>div>*{
        padding: 0;
        margin: 0 0 2%
    }


/*Transitions*/
input[type="submit"]:hover{
    color: #333;
    background: #bfc0c0;
    border-color: #2a2d34;
}


/* @TODO: Media Queries*/
