<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="Viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="Title" content="DVRPC Park & Ride Passenger Origins" />
  <meta name="Description" content="View results for vehicle surveys conducted at rail stations and park-and-ride lots in the DVRPC region and gain an understanding of where railway commuters are coming from" />
  <meta name="Keywords" content="station sheds, station, railway, commuters, railway commuters, urban planning, DVRPC" />
  <meta name="Owner" content="webmaster@dvrpc.org" />
  <meta name="Robots" content="index, follow" />
  <meta name="Distribution" content="global" />
  <meta name="Author" content="Marc Molta, Robert Beatty, Thomas Stead" />
  <title>DVRPC Park & Ride Passenger Origins</title>
  <!-- external files -->
  <link rel="preconnect" href="https://api.mapbox.com"/>
  <link rel="stylesheet" type="text/css" href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.css" />
  <script type="text/javascript" src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.js"></script>
  <script>var _gaq = [['_setAccount', 'UA-9825778-1'], ['_trackPageview']];</script>
    <script async src="//www.google-analytics.com/ga.js">
  </script>
</head>

<body>
  <nav>
    <img id="license-plate-logo" src="<%- require('./img/project-logo.png')%>" alt="License Plate Survey logo" />

    <p id="more-info">i</p>

    <div id="modal">
      <div id="modal-container">
        <span id="close-modal">&times;</span>
        <ul class="modal-tabs">
          <li class="modal-link active">Methodology</li>
          <li class="modal-link">Directions</li>
          <li class="modal-link">Legend</li>
          <li class="modal-link">About <abbr title="Delaware Valley Regional Planning Commission">DVRPC</abbr></li>
          <li class="modal-link">Disclaimer</li>
          <li class="modal-link">Contact</li>
        </ul>
        <div class="modal-content visible" id="modal-methodology" aria-hidden="false">
          <p>
            This web map shows trip origins for transit users that drive to and
            park motor vehicles at train stations or park-and-ride lots in the
            Delaware Valley Region. This map only includes train stations and
            park-and-rides that have publicly accessible parking and have been
            surveyed by <abbr title="Delaware Valley Regional Planning Commission">DVRPC</abbr>. Each station’s data is
            based on fieldwork
            completed in one day, typically in fall or spring between the hours
            of 9 AM and 4 PM.
          </p>
          <p>
            License plates are recorded and sent to the
            appropriate state agency to be anonymously geocoded. After
            receiving the geocoded records, <abbr title="Delaware Valley Regional Planning Commission">DVRPC</abbr>
            converts the data into a GIS
            format in order to be used internally and in this application. To
            ensure privacy of the surveyed vehicles, individual points are
            aggregated to a standard geography in order to visualize trends of
            how people are using public transportation as part of their commute.
            In this case, the standard geography is 1/2 square
            mile hexagons that are large enough to anonymize the points within
            them, but also small enough to effectively display the trends in the
            data.
          </p>
        </div>
        <div class="modal-content" id="modal-directions" aria-hidden="true">
          <ol>
            <h4>
              Dropdown Query
            </h4>
            <li>
              Using the Search Stations drop down, choose a station from the
              list.
            </li>

            <li>Next, chose a data collection year and press search.</li>

            <li>
              Once the data is displayed, the
              “legend” in the top left corner of the map opens as a drop down element.
              The drop down provides information including the station’s
              operator, the name and type of transit line, the total number of
              car commuters surveyed, and the values associated with each tile
              color. The display of this legend can be toggled by clicking the on the title bar.
              Users can zoom in or out using the scroll wheel on the mouse or by double clicking
              on a location, and can return to the default regional extent by clicking on the
              <abbr title="Delaware Valley Regional Planning Commission">DVRPC</abbr> logo in the
              bottom-most button.
            </li>
          </ol>
          <ol>
            <h4>
              Click Query
            </h4>
            <li>
              Using your mouse, you can hover over the station points located on
              the map to bring up a popup with more information pertaining to it.
              Stations symbolized <strong style="color: green">green</strong>
              have been surveyed as part of this
              <abbr title="Delaware Valley Regional Planning Commission">DVRPC</abbr>
              initiative, while those symbolized <strong style="color: #aaa">grey</strong> have not.
            </li>

            <li>
              By clicking on a <strong style="color: green">surveyed</strong>
              station, you will perform a query using that station and the year
              of its most recent survey.
            </li>
          </ol>
        </div>
        <div class="modal-content" id="modal-legend" aria-hidden="true">
          <div id="modal-legend-stations">
            <div>
              <h4>Passenger Rail Stations</h4>
              <div class="modal-legend-station">
                <p>Surveyed Station</p>
                <p>Unsurveyed Station</p>
              </div>
              <div class="modal-legend-station">
                <div id="surveyed"></div>
                <div id="not-surveyed"></div>
              </div>
            </div>
          </div>
          <h4>Passenger Rail Lines</h4>
          <div id="modal-legend-rail">
          </div>
        </div>
        <div class="modal-content" id="modal-about-dvrpc" aria-hidden="true">
          <p>
            The Delaware Valley Regional Planning Commission is the federally designated
            Metropolitan Planning Organization for a diverse nine-county region in two states:
            Bucks, Chester, Delaware, Montgomery, and Philadelphia in Pennsylvania; and Burlington,
            Camden, Gloucester, and Mercer in New Jersey.
          </p>
          <p>
            <strong><abbr title="Delaware Valley Regional Planning Commission">DVRPC</abbr>'s vision</strong> for the
            Greater Philadelphia Region is a prosperous, innovative, equitable, resilient, and sustainable region
            that increases mobility choices by investing in a safe and modern transportation system; that protexts and
            preserves our natural resources while creating healthy communities; and that fosters greater opportunities
            for all.
          </p>
          <p>
            <strong><abbr title="Delaware Valley Regional Planning Commission">DVRPC</abbr>'s mission</strong> is to
            achieve this vision by convening the widest array of partners to inform and facilitate data-driven
            decision-making.
            We are engaged across the region, and strive to be leaders and innovators, exploring new ideas and creating
            best practices.
          </p>
          <p>
            <abbr title="Delaware Valley Regional Planning Commission">DVRPC</abbr> fully complies with Title VI of the
            Civil Rights
            Act of 1964 and related nondiscrimination statutes in all activities. For more information, visit
            <a href="https://www.dvrpc.org/GetInvolved/TitleVI" target="_blank" rel="noopener">www.dvrpc.org/GetInvolved/TitleVI</a>.
          </p>
          <p>
            The authors are solely responsible for the findings and conclusions herein, which may not represent the
            official views or policies
            of the funding agencies.
          </p>
        </div>
        <div class="modal-content" id="modal-disclaimer" aria-hidden="true">
          <p>
            This web page is a public resource of general information. The
            Delaware Valley Regional Planning Commission (<abbr title="Delaware Valley Regional Planning Commission">DVRPC</abbr>)
            makes no
            warranty, representation, or guarantee as to the content, sequence,
            accuracy, timeliness, or completeness of any of the spatial data or
            database information provided herein. <abbr title="Delaware Valley Regional Planning Commission">DVRPC</abbr>
            and partner state,
            local, and other agencies shall assume no liability for errors,
            omissions, or inaccuracies in the information provided regardless of
            how caused; or any decision made or action taken or not taken by any
            person relying on any information or data furnished within.
          </p>
        </div>
        <div class="modal-content" id="modal-contact" aria-hidden="true">
          <p>
            For questions, comments, or concerns regarding this project please use the following
            contact information
          </p>
          <p>
            <h3><strong style="color: #155472">Thom Stead</strong></h3>
            <h4><em style="font-weight: 400; color: #5ca3cb">Transportation Planner</em></h4>
            E-mail: <a href="mailto:tstead@dvrpc.org" alt='primary email contact' target="_blank" rel="noopener">tstead@dvrpc.org</a></br>
            Phone: 215.238.2851
          </p>
          <p>
            To log an issue or provide feedback on this application, please visit this project's <a href="https://github.com/dvrpc/license-plate-survey/issues"
              target="_blank" rel="noopener">GitHub Repository</a>.
          </p>
          </p>
        </div>
      </div>
    </div>

    <div class="nav-column">
      <form id="main-form">
        <select name="station" aria-label="Select Station">
          <!-- Build station/year query based on look up table -->
          <option value="default" selected label="Please Select a Station to Continue">Please Select a Station to Continue</option>
        </select>

        <select name="year" aria-label="Select Year">
          <option value="default" label="Year" selected>Please Select a Station to Continue</option>
        </select>

        <input type="submit" value="Search" aria-label="Search" />
      </form>
    </div>
  </nav>

  <main role="main" id="map">
    <div class="legend__container">
      <p class="legend__toggle">Legend</p>
      <div class="legend__body" aria-hidden="true">
        <span>
          <h2>Nothing to display!</h2>
          <h4>Please conduct a search to continue</h4>
        </span>
        <img id="cat-loading" src="./img/cat.gif" alt="Cat Loading GIF" />
      </div>
    </div>
  </main>

  <footer id="nav-social-media">
    <a href="https://www.dvrpc.org" target="_blank" rel="noopener">
      <img id="dvrpc-logo" src="<%- require('./img/navbar/logo.png')%>" alt="dvrpc logo" />
    </a>

    <a href="https://signup.e2ma.net/signup/1808352/1403728/" target="_blank" rel="noopener">
      <img class="nav-imgs" src="<%- require('./img/navbar/email.png')%>" alt="icon link to email" />
    </a>

    <a href="https://www.facebook.com/DVRPC" target="_blank" rel="noopener">
      <img class="nav-imgs" src="<%- require('./img/navbar/facebook.png')%>" alt="icon link to facebook" />
    </a>

    <a href="https://twitter.com/DVRPC" target="_blank" rel="noopener">
      <img class="nav-imgs" src="<%- require('./img/navbar/twitter.png')%>" alt="icon link to twitter" />
    </a>

    <a href="https://www.instagram.com/dvrpc/?hl=en" target="_blank" rel="noopener">
      <img class="nav-imgs" src="<%- require('./img/navbar/instagram.png')%>" alt="icon link to instagram" />
    </a>

    <a href="https://www.linkedin.com/company/delaware-valley-regional-planning-commission" target="_blank" rel="noopener">
      <img class="nav-imgs" src="<%- require('./img/navbar/linkedin.png')%>" alt="icon link to linkedin" />
    </a>

    <a href="https://www.youtube.com/channel/UCEU8UI5_iGkVypHP93b5jLA" target="_blank" rel="noopener">
      <img class="nav-imgs" src="<%- require('./img/navbar/youtube.png')%>" alt="icon link to youtube" />
    </a>
  </footer>

  <div id="reference" style="display: none;"></div>
</body>

</html>