<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="Viewport" content="width=device-width, initial-scale=1" />
    <meta name="Title" content="DVRPC Station Shed Viewer" />
    <meta
      name="Description"
      content="View results for a survey of cars at rail stations in the DVRPC region and gain and understanding of where railway commuters are coming from"
    />
    <meta
      name="Keywords"
      content="station sheds, station, railway, commuters, railway commuters, urban planning, DVRPC"
    />
    <meta name="Owner" content="webmaster@dvrpc.org" />
    <meta name="Robots" content="index, follow" />
    <meta name="Distribution" content="global" />
    <meta name="Author" content="Marc Molta, Robert Beatty, Thomas Stead" />
    <title>DVRPC License Plate Survey Explorer</title>
    <!-- external files -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <script
      type="text/javascript"
      src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.js"
    ></script>
  </head>
  <body>
    <nav>
      <img
        id="license-plate-logo"
        src="<%- require('./img/LicencePlate_WebMap_graphics-02.png')%>"
        alt="License Plate Survey logo"
      />

      <i class="fas fa-info-circle" id="more-info" tabindex="12"></i>

      <div id="modal">
        <div id="modal-content">
          <span id="close-modal">&times;</span>
            <h2>Methodology</h2>
          <p>
            This web map shows trip origins for transit users that drive to and
            park motor vehicles at train stations or park-and-ride lots in the
            Delaware Valley Region. This map only includes train stations and
            park-and-rides that have publicly accessible parking and have been
            surveyed by DVRPC. Each station’s data is based on fieldwork
            completed in one day, typically in fall or spring between the hours
            of 9 AM and 4 PM. License plates are recorded are sent to the
            appropriate federal agency to be anonymously geocoded. After
            receiving the geocoded records, DVRPC converts the data into a GIS
            format in order to be used internally and in this application. To
            ensure privacy of the surveyed vehicles, we decided to aggregate the
            points to a standard geography in order to visualize trends of how
            people are using public transportation as part of their commute. In
            this case, the standard geography we decided on were 1/2 square mile
            hexagons that are large enough to anonymize the points within them,
            but also small enough to effectively display the trends in the data.
          </p>

          <h2>Directions</h2>

          <ol>
            <li>
              Using the Search Stations drop down, choose a station from the
              list.
            </li>

            <li>Next, chose a data collection year and press search.</li>

            <li>
              Once the data is displayed users can click on the box titled
              “legend” in the top left corner of the map to open a drop down.
              The drop down provides information including the station’s
              operator, the name and type of transit line, the total number of
              car commuters surveyed, and the values associated with each tile
              color. Users can zoom in or out using the scroll wheel on the
              mouse or by double clicking on a location.
            </li>
          </ol>
          <h2>Disclaimer</h2>
          <p>
            This web page is a public resource of general information. The
            Delaware Valley Regional Planning Commission (DVRPC) makes no
            warranty, representation, or guarantee as to the content, sequence,
            accuracy, timeliness, or completeness of any of the spatial data or
            database information provided herein. DVRPC and partner state,
            local, and other agencies shall assume no liability for errors,
            omissions, or inaccuracies in the information provided regardless of
            how caused; or any decision made or action taken or not taken by any
            person relying on any information or data furnished within.
          </p>
        </div>
      </div>

      <div class="nav-column">
        <form id="main-form">
          <p>Search Stations:</p>
          <select name="station" tabindex="1">
            <!-- Build station/year query based on look up table -->
            <option value="default" selected
              >Please Select a Station to Continue</option
            >
          </select>

          <select name="year" tabindex="2">
            <option value="default" selected>--</option>
          </select>

          <input
            type="submit"
            value="Search"
            tabindex="3"
            aria-label="Search"
          />
        </form>
      </div>
    </nav>

    <main role="main" id="map">
      <div class="legend__container">
        <p class="legend__toggle" tabindex="4">Legend</p>
        <div class="legend__body" aria-hidden="true">
          <span>
            <h2>Nothing to display!</h2>
            <h4>please conduct a search to continue</h4>
          </span>
          <span id="cat-loading"></span>
        </div>
      </div>
    </main>
    <footer id="nav-social-media">
      <a
        href="https://www.dvrpc.org"
        target="_blank"
        rel="noopener"
        tabindex="5"
      >
        <img
          class="nav-imgs"
          id="dvrpc-logo"
          src="<%- require('./img/navbar/logo.png')%>"
          alt="dvrpc logo"
        />
      </a>

      <a id="mailto" href="mailto:tstead@dvrpc.org/" tabindex="6">
        <img
          class="nav-imgs"
          src="<%- require('./img/navbar/email.png')%>"
          alt="icon link to email"
        />
      </a>

      <a
        href="https://www.facebook.com/DVRPC"
        target="_blank"
        rel="noopener"
        tabindex="7"
      >
        <img
          class="nav-imgs"
          src="<%- require('./img/navbar/facebook.png')%>"
          alt="icon link to facebook"
        />
      </a>

      <a
        href="https://twitter.com/DVRPC"
        target="_blank"
        rel="noopener"
        tabindex="8"
      >
        <img
          class="nav-imgs"
          src="<%- require('./img/navbar/twitter.png')%>"
          alt="icon link to twitter"
        />
      </a>

      <a
        href="https://www.instagram.com/dvrpc/?hl=en"
        target="_blank"
        rel="noopener"
        tabindex="9"
      >
        <img
          class="nav-imgs"
          src="<%- require('./img/navbar/instagram.png')%>"
          alt="icon link to instagram"
        />
      </a>

      <a
        href="https://www.linkedin.com/company/delaware-valley-regional-planning-commission"
        target="_blank"
        rel="noopener"
        tabindex="10"
      >
        <img
          class="nav-imgs"
          src="<%- require('./img/navbar/linkedin.png')%>"
          alt="icon link to linkedin"
        />
      </a>

      <a
        href="https://www.youtube.com/user/DVRPC"
        target="_blank"
        rel="noopener"
        tabindex="11"
      >
        <img
          class="nav-imgs"
          src="<%- require('./img/navbar/youtube.png')%>"
          alt="icon link to youtube"
        />
      </a>
    </footer>
    <div id="reference" style="display: none;"></div>
  </body>
</html>
